.table {
  border: 1px solid black;
  text-align: center;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 65px;
  height: 50px;
}

.highlight {
  background: red;
}
